@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/SFPRODISPLAYBOLD.otf') format('opentype');
    font-weight: bold;
  }


  *{
    font-family: 'SF Pro Display';
  }

.feature-container{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://www.apple.com/v/airpods-max/e/images/overview/audio_quality_spatial_figure__clxltt2m0z2a_xlarge.jpg');
    background-size: cover;
}
